<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaTeX2onenote</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</head>
<body style="padding-bottom: 70px">

<div class='container-fluid'>
    <div class="jumbotron" style="padding: 0.5em 0.6em;">
        <div class='text-center'>
            <h1>LaTeX2onenote</h1>

        </div>
    </div>

    <div class="row center-block" style="padding-top: 30px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center well">
                <p>All set :D! Check it out <a href="{{ onenote_url }}">here</a>! </p>
                <p>Click <a href="latex_input.html">here</a> to send another file!</p> 
            </div>
        </div>
    </div>
</div>

</body>
</html>
